.btn-o
  height: 55px
  background: none
  outline: none
  border: 2px solid #ffffff
  border-radius: 27px
  +roboto-medium
  +text-up(13px, #ffffff)
  line-height: 50px
  cursor: pointer
  &:hover
    background-color: $primary-color
  &:focus
    outline: none
.btn
  height: 55px
  background: $primary-color 
  outline: none
  border: 2px solid #f3f3f3
  border-radius: 27px
  +roboto-medium
  +text-up(13px, #ffffff)
  line-height: 50px
  cursor: pointer  
  &:focus
    outline: none  
