.block
  display: block
  
.flex
  display: flex

.hidden
  display: none

.unvisible
  visibility: hidden
  

@media (max-width: $xl)
  .block-xl
    display: block
  .hidden-xl
    display: none
@media (max-width: $lg)
  .block-lg
    display: block
  .hidden-lg
    display: none
@media (max-width: $md)
  .block-md
    display: block
  .inline-md
    display: inline
  .hidden-md
    display: none
@media (max-width: $sm)
  .block-sm
    display: block
  .inline-sm
    display: inline    
  .hidden-sm
    display: none
  *[class $= 'title']
    text-align: center    
  *[class $= 'paragraph']
    text-align: center

@media (max-width: $xs)
  .block-xs
    display: block
  .hidden-xs
    display: none