.main 
  color: #ffffff
  background:
    image: url('../img/triangles-left.png'),url('../img/triangles-right.png'),url('../img/main/bg-main.png')
    repeat: no-repeat
    size: 300px 169px, 375px 211px, auto 100%
    position: bottom left, bottom right, 50% 50%
  padding: 131px 0 185px
  margin-bottom: 23px
  .container
    position: relative
    &::after
      content: ''
      position: absolute
      width: 252px
      height: 351px
      right: 0
      top: -207px
      background:
        image: url('../img/main/bird.png')
        repeat: no-repeat
        size: 100% auto
        position: 0 0
      z-index: 0
  &-wrap
    position: relative
    display: flex
    flex-direction: column
    align-items: center
    z-index: 1
  &__title
    +franklin-heavy
    text-transform: uppercase
    font-size: 166px
    &::after
      content: ''
      display: block
      width: 580px
      height: 1px
      background-color: #ffffff
      margin: 7px auto 27px
  &__text
    max-width: 765px
    +open-sans
    font-size: 19px
    font-weight: 100
    line-height: 26px
    text-align: center
    margin-bottom: 35px
  &__btn
    width: 198px

@media (max-width: $md)
  .main
    background:
      size: 25% auto, 25% auto, auto 100%      
    &__title
      font-size: 130px
    &__text      
      font-size: 16px
@media (max-width: $sm)
  .main
    padding: 110px 0 160px
    .container
      &::after
        top: -170px
        width: 34%
    &__title
      font-size: 95px
      &::after
        width: 490px
        margin: 7px auto 27px      
    &__text      
      font-size: 14px
@media (max-width: $xs)
  .main
    background:
      size: 144px auto, 144px auto, auto 100%      
    // padding: 110px 0 160px
    .container
      &::after
        top: -170px
        width: 185px
    &__title
      font-size: 49px
      &::after
        width: 280px
        // margin: 7px auto 27px      
    &__text      
      font-size: 12px
